@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("pikachu-fundo.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: 'Roboto', sans-serif;
    color: #ffcb05;
    margin-left: 75px;
    font-size: 40px;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: 92px;
    font-size: 17px;
} 

#check{
    display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
    margin-left: 6x;
}

/* Elemento de tag <body> */
body{
    background-color: ghostwhite;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 10%;
    margin-top: 2%;
    justify-content: center;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
    border-radius: 10px;
    margin-left: 10px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: black;
    display: block;
    margin-left: 10px;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 2px solid #3d7dca;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    display: block;
    background: #d5e8ff;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #d5e8ff;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.3em;
    width: 200px;
    height: 45px;
    background: #3d7dca;
    border: 0;
    border-radius: 15px;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 89%;
    left: 22%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #ffcb05;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    transition: 1s;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}