@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("pkmngoldfudo.gif") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

h2 {
    font-size: 40px;
    background: -webkit-linear-gradient(#3d7dca, #ffcb05);
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 98vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 550px;
    height: 50px;
    margin-top: 40em;
}